/lesson-12/1.Prettier/node_modules/
/lesson-12/1.Prettier/dist/
/package-lock.json
/.
/lesson-12/Prettier, ESLint/node_modules/
/node_modules/
/lesson-14/State, PropTypes, Synthetic Event, Ref/src/
/.idea/
/lesson-26/1.webpack/dist/
