.component-with-helper {
    position: relative;
}

.component-with-helper__helper {
    color: black;
    position: absolute;
    top: -1.5em;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
