.comment {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.comment__like {
    text-align: right;
    cursor: pointer;
}

.comment__user-name {
    font-size: 14px;
    text-align: left;
}

.text-liked {
    color: coral;
}
